 /* for gallery page */

 *{
    font-family: 'Dosis', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
    text-transform: capitalize;
 }
 
 .gallery{
    text-align: center;
    margin-top: 20px;
}
.gallery span{
    font-weight: 800;
    font-size: 30px;
color: rgb(255, 162, 0);
}
.gallery h3{
    font-size: 20px;
    
}
.container-gallery{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows:400px 400px;
    grid-gap:20px;
    justify-content: center;
     }
     .container-gallery .items{
   background-size: cover;
    } 
.container-gallery .items1{background-image: url(styles/images/food-galler-img-1.jpg);}
.container-gallery .items2{background-image: url(styles/images/food-galler-img-2.jpg);}
.container-gallery .items3{background-image: url(styles/images/food-galler-img-3.jpg);}
.container-gallery .items4{background-image: url(styles/images/food-galler-img-4.jpg);}
.container-gallery .items5{background-image: url(styles/images/food-galler-img-5.jpg);}
.container-gallery .items6{background-image: url(styles/images/food-galler-img-6.jpg);}


