
/* header section */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Poppins:ital,wght@1,400;1,500&family=Source+Code+Pro:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
    text-transform: capitalize;
 }

    

.nav-header{
    background-color: white;
    height: 100px;
    margin-top: -100px;
    position: fixed;
    width: 100%;
    /* border: 1px solid black; */
   
}
 .left-head{
    position: absolute;
    left: 24px;
    top: 35px;
    display: inline-block;
     /* border: 2px solid red; */
     display: flex;
}
.nav-header .logo {
    margin-left: 2px;
    margin-top: 0px;
    height: 13px;
    width: 190px;
    color: black;
    padding: 6px;
}
.nav-header .left-head img {
    margin-left: -19px;
    height: 47px;
    width: 47px;
    margin-top: 3px;
    filter: brightness(120%);
}
.left-head div{
    line-height: 11px;
    text-align: center;
}
.mid{
    /* background-color: rgb(25, 24, 24); */
    display: block;
    width: 28%;
    /* margin: 25px 400px; */
    margin-top: 50px;
    margin-left: 500px;
}
.mid .navbar li a {
    color: black;
    text-decoration: none;
}
.right-head{
    position: absolute;
    right: 24px;
    top: 22px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.navbar{
    display: inline-block;
}
.navbar li {
      display: inline-block;
}
.navbar li a{
    color: black;
    text-decoration: none;
    padding: 0px 12px;
} 
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: red;
}

.btn{
    margin: 15px 9px;
    background-color: #cd9452;
    color: aliceblue;
    padding: 8px 8px;
    /* border: 2px solid gray; */
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.right-head {
    margin-top: 20px;
} 

.middle-back{
    height: 800px;
    width:  100%;
    margin-top: 90px;
    margin-bottom: 20px;
    
    
}
   
video{
    background-size: cover;
    width: 100%;
   
}
